{% extends '../base.html' %}


{% block title %}Карта{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<nav aria-label="breadcrumb mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="orange-link" href="{% url 'homePage' %}">Назад</a></li>
    <li class="breadcrumb-item active" aria-current="page">Карта</li>
  </ol>
</nav>
<div class="main mb-4">
    <h1 class="mb-2">Карта 📍</h1>
</div>
<div class="posts mb-4">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5dce505debb12bb384cb4ae3576ef29ec9acd5a6372d423b9d50b9f1d147d9e0&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</div>
{% else %}
<div class="main mt-5 mb-5">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Чтобы взаимодействовать с приложением, пройдите <a href="{% url 'signUp' %}">регистрацию</a> или если у Вас есть аккаунт <a
            href="{% url 'logIn' %}">войдите</a> в систему
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% endblock %}